node_modules
user_service/node_modules
user_client/node_modules
debt_service/node_modules
debt_service/.env
order_service/node_modules
order_service/.env
transaction_service/node_modules
payment_service/node_modules
rabbitmq-test/pub/node_modules
infra/k8s/secret.yaml
commona/node_modules
commona/build
.DS_Store
